.login-form-buttons {
    text-align: center;
}
.login-form-buttons button {
    padding: 10px 50px;
    font-size: 18px;
}

.login-form {
    max-width: 400px;
    margin: 50px auto;
}

.login-form h1 {
    text-align: center;
}

.login-form h1 img {
    vertical-align: middle;
    animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  